/* h1 {
  font-size: 22px;
  color: red;
  background-color: yellow;
}

h2 {
  font-size: 18px;
  color: aliceblue;
  background-color: aqua;
}

h3 {
  font-size: 16px;
  color: bisque;
  background-color: blueviolet;
}

div {
  width: 100px;
  height: 100px;
  border: 1px dashed;
  margin-bottom: 10px;
}

#divId1 {
  background-color: blueviolet;
}

#divId1 > span {
  color: aliceblue;
}

#divId2 {
  background-color: hsl(150, 100%, 90%);
}

.divClass2 > span {
  background-color: blue;
  color: antiquewhite;
}

.divClass2 > span > p {
  background-color: brown;
}

.divClass3 {
  background-color: #000;
  color: white;
}

.divClass3 input {
  width: 100%;
  height: 50px;
  background-color: burlywood;
}

li {
  width: 100px;
  height: 30px;
  border: 1px solid;
  background-color: burlywood;
}

li + button {
  margin-top: 10px;
}

div, span {
  font-weight: 700;
}

input[name="age"] {
  background-color: cadetblue;
}

.mylist {
  background-color: crimson;
}

* {
  box-sizing: border-box;
  background-color: chocolate;
} */

/* .myDiv1 {
  width: 100px;
  height: 100px;
  background-color: crimson;
  transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1); 
}

.myDiv1:hover {
  width: 200px;
} */

/* .animatedDiv1 {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: myslidein;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes myslidein {
  0% {
    background-color: ref;
    width: 100%;
  }

  50% {
    background-color: blueviolet;
    width: 25%;
  }

  100% {
    background-color: red;
    width: 50%;
  }
} */

/* .animationDiv1 {
  background-color: red;
  width: 100px;
  height: 100px;
  color: aliceblue;
  animation: 
    divAnim1
    3s
    cubic-bezier(0.175, 0.885, 0.32, 1.275)
    2s
    infinite
    both;
  animation-name: divAnim1;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: 2s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */

/* @keyframes divAnim1 {
  0% {
    width: 200px;
    height: 50px;
    background-color: blue;
  }

  50% {
    width: 300px;
    height: 400px;
    background-color: blueviolet;
  }

  100% {
    width: 150px;
    height: 100px;
    background-color: cornflowerblue;
  }
} */

/* .boxModel1 {
  width: 100px;
  height: 50px;
  border: 10px solid gray;
  border-width: 2px;
  border-radius: 0px;
  margin: 20px;
  padding: 20px;
  animation: 
    myAnimation1
    2s
    cubic-bezier(0.175, 0.885, 0.32, 1.275)
    1s
    infinite
    both
    ;
} */

/* @keyframes myAnimation1 {
  0% {
    border-radius: 0px;
    padding: 20px;
    margin: 20px;
  }
  50% {
    border-radius: 30px;
    padding: 50px;
  }
  80% {
    border-radius: 15px;
    margin: 10px;
  }
  100% {
    margin: 20px;
    padding: 20px;
    border-radius: 0px;
  }
} */

/* .container {
  width: 120px;
  height: 100px;
  background-color: cyan;
}

.item1 {
  background-color: red;
  box-sizing: border-box;
  width: 120px;
  border: 2px solid gray;
  padding: 10px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerFlex {
  background-color: gray;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  animation: 
    flexAnimation
    2s
    cubic-bezier(0.175, 0.885, 0.32, 1.275)
    1s
    infinite
    both;
}

.item {
  flex-basis: 100px;
  height: 50px;
  border: 1px solid black;
  margin: 10px;
}

.item1 {
  background-color: blueviolet;
  flex: 3 3 50px;
}

.item2 {
  background-color: brown;
  flex: 2 1 100px;
}

.item3 {
  background-color: burlywood;
  flex-grow: 1;
  flex-shrink: 1;
}

.item4 {
  background-color: coral;
  flex-grow: 0;
  flex-shrink: 0;
}

@keyframes flexAnimation {
  0% {
    align-items: flex-start;
  }
  50% {
    align-items: flex-end
  }
  100% {
    align-items: flex-start;
  }
}
