.itemList .item {
  background-color: aqua;

  cursor: pointer;
}

div > .item {
  background-color: blanchedalmond;
}

.bgRed {
  background-color: brown;
  color: aliceblue;
}

.completedItem {
  text-decoration: line-through
}